
/********************************************/
/* Font                                     */
/********************************************/
@charset 'UTF-8';

@font-face {
	font-family: 'FontAwesome';
	src: url('font/fontawesome-webfont.eot?v=3.2.1');
	src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGMVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v5/toadOcfmlt9b38dHJxOBGCmgpmuQqK2I-L2S9cF65Ek.woff) format('woff');
}

/********************************************/
/* Desktop Size                             */
/********************************************/

.rule_of_game_grid { width: 20%; }
.frog_grid { width: 18%; }

.intro_description_grid { width: 100%; margin-top: 6em; }

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix,*:first-child+html .clearfix{zoom:1}

html, body {
  transition: all .2s linear;
  -o-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  height: 100%;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 3em;
  line-height: 1em;
  font-weight: 400;
  color: #f8f5ef;
}

h6 {
  margin-bottom: -3em;
  font-size: 1.125em;
  line-height: 1em;
  font-weight: 800;
  color: #d05318;
}

img, object {
  width: 100%;
}

/* wrapper */
.wrap {
  width:90%; /* set back to 1280px */
  margin: 0 auto;
  display: block;
  position: relative;
}

.howsoever {  
  top:25%; 
  height:10em; 
  margin-top:6em; 
}

/*----------------------------------------------------------------- intro */
.intro {  
  top:12%; 
  height:10em; 
  margin-top:-5em; 
}

#intro {
  display: block;
  background-color: #f3f2ed;
  overflow: hidden;
}

#intro a {
  text-decoration: none;
  text-align: center;
}

/* intro */
.frog {
  margin: 0 auto;
  padding:0% 0 0 40%;
}

/* ------------------------------- introduction ---------------------------------- */
.intro_img_container
{
	position: relative;
	max-width: 80%;
	top: 5em;
	left: 10%;
}
.intro_text_grid {
	width: 40%;
	margin: 0 auto;
}
.intro_logo_grid {
	width: 40%;
	margin: 0 auto;
}

#introduction {
  background-color: #5ab258;
  overflow: hidden;
}

.fixheight > object {
  height: 12em;
  margin-top: 0;
  -webkit-transition-duration: margin 0.4s;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

.fixheight object:hover {
  margin-top: 1em;
}


#introduction h4 {
  color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 1em; 

}

/* ---------------------------2 or 3 People Can Play */
#howsoever {
  background-color: #000000;
  overflow: hidden;
}

.fixheight > object {
  height: 12em;
  margin-top: 0;
  -webkit-transition-duration: margin 0.4s;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

.fixheight object:hover {
  margin-top: 1em;
}

#howsoever h4 {
  color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 1em; 
}
#face_img_container {
    position:relative;
    left: 20%;
    height:325px;
    white-space:nowrap;
}

.face_img {
	width: 20%;
	margin-right: 20px;
	display: inline-block;
}

.2or3_text_grid { width: 48.90625%; }

.game_play_explain_grid { width: 80%; margin: 0 auto; }

/*----------------------------------------------------------------- Deal and Layout */
#deal_and_layout {
  background-color: #b82b30;
  overflow: hidden;
}

#how_to_play_text_grid {
	display: inline-block;
	width: 25%;
}

#deal_and_layout_img {
	width: 75%;
	margin-left: -0.5em;
	margin-bottom: 3em;
}

#how_to_play_text {
	width: 75%;
}

#deal_and_layout h4 {
  color: #000000;
  text-align: left;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 1em; 
  text-transform: none;
}

#how_to_play_img_grid {
	display:inline-block;
	width: 50%;
}

#how_to_play_img {
	width: 68%;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.deal_and_layout_container {
    position:relative;
    left: 15%;
	margin-top:11em;
}

#deal_and_layout_img_grid {
	width: 35%;
	margin-right: 3em;
	display: inline-block;
}

#how_to_play_grid {
	width: 35%;
	display: inline-block;
}

/*----------------------------------------------------------------- Players and cards*/


#player_and_cards {
  background-color: #ffffff;
  overflow: hidden;
}

.fixheight > object {
  height: 12em;
  margin-top: 0;
  -webkit-transition-duration: margin 0.4s;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

.fixheight object:hover {
  margin-top: 1em;
}

#player_and_cards h4 {
  color: #000000;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 1em; 
}
#hwatu_top_left {
    position:relative;
    left: 15%;
    height:0px;
    white-space:nowrap;
    margin-top:6em;
}

#hwatu_top_right {
    position:relative;
    left: 52%;
    height:100px;
    white-space:nowrap;
    margin-top:0em;
}

#hwatu_bottom_left {
    position:relative;
    left: 15%;
    height:0px;
    white-space:nowrap;
    margin-top:6em;
    }

#hwatu_bottom_right {
    position:relative;
    left: 52%;
    height:200px;
    white-space:nowrap;
    margin-top:0em;
}

.hwatu_image {
	width: 10%;
	margin-right: 20px;
	display: inline-block;
}



.playerandcards_text_grid {
	width: 80%; 
	margin: 0 auto; }
	
}

.play_card_explain_grid { 
	width: 80%; 
	margin: 0 auto; 
}

/*----------------------------------------------------------------- Ending the play and payments*/
#ending {
  background-color: #cccccc;
  overflow: hidden;
}

.fixheight > object {
  height: 12em;
  margin-top: 0;
  -webkit-transition-duration: margin 0.4s;
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}

.fixheight object:hover {
  margin-top: 1em;
}

#ending h4 {
  color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  font-weight: 200;
  margin-bottom: 1em; 
}
#ending_img_container {
    position:relative;
    left: 20%;
    height:325px;
    white-space:nowrap;
}


.ending_text_grid { 
	width: 100%;

}



.ending_img_grid	{
width: 30%;
margin: 0 auto;
  text-align: center;
  	left: 10%;
}



/********************************************/
/* Tablet Size                              */
/********************************************/

@media screen and (max-width: 768px) {
	/* wrapper */
	.wrap { width:80%; margin-top: 1em; }

	/*--------------------------------- introduction ------------------------------------- */   
	.intro { top: 10em; }
	.intro_img_container {
		top: -1em;
		left: 12%;
	}

	.intro_text_grid {
		width: 65%;
		margin: 0 auto;
	}
	.intro_logo_grid {
		width: 50%;
		margin: 0 auto;
	}
	
	.intro_description_grid {
		margin-top: -1em;
	}

    /*----------------------------------------------------------------- Deal and Layout */
    h1 {
      font-size: 2.5em;
      padding-top: 1em;
      line-height: 1em;
      font-weight: 400;
      color: #f8f5ef;
    }

    h6 {
      margin-bottom: -3em;
      font-size: 1.125em;
      line-height: 1em;
      font-weight: 800;
      color: #d05318;
    }
    
    .how_to_play_grid {
    	top: 10em;
    }

    /*--------------------------------------------------- 2 or 3 People Can Play */
    .howsoever {
		height: 50%;
		margin-top: 8em;
    }
    
    #face_img_container {
	    left: 8%;
	    margin-bottom: 0em;
	}
    .face_img { width: 25%; }

} /*----------------------------------------------------------------- end Tablet */

/********************************************/
/* Mobile Size                              */
/********************************************/

@media screen and (max-width: 400px) {

	/* wrapper */
	.wrap { width:80%; margin-top: -2em;}

  /*----------------------------------------------------------------- intro */
	.frog {
      padding-top: 1.5em;
      border: none;
    }

	.intro_description_grid {
		width:100%;
		margin-top: 1em;
	}

  /*----------------------------------------------------------------- introduction */
	.intro_img_container {
		top: 0em;
		
	}

	.intro_text_grid {
		width: 80%;
		margin: 0 auto;
	}
	.intro_logo_grid {
		width: 50%;
		margin: 0 auto;
	}
	
	.intro_description_grid {
		width: 100%;
		margin: 0 auto;
	}

  /*-------------------------------------------------- 2 or 3 People Can Play */
	#howsoever {
		width: 100%;
		height: 25%;
	}
	
	.howsoever {
		margin-top: 2em;
	}

	#howsoever h2 {
		padding-left: 5%;
		padding-right: 15%;
		font-size: 1.5em;
	}

	#howsoever h4 {
		font-size: 1em;
		padding-left: 5%;
		padding-right: 15%;
	}
	
	#face_img_container {
		left: 35%;
		margin-bottom: 7em;
	}
	
	.game_play_explain_grid {
		width:100%;
		margin-left: 1em;
	}
	
    .face_img { width: 30%; display: block; padding-bottom: 1em; }
} 

/*----------------------------------------------------------------- end Mobile */